.header {
    display: flex;
    width: 83%;
    margin: 0 auto 100px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 85px;
    height: 33px;
    padding-left: 20px;
}

.links > li {
    padding: 0 16px;
    color: var(--link-inactive);
}

.languages,
.links {
    display: flex;
    list-style-type: none;
}

.languages {
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.languages > li {
    cursor: pointer;
    transition: filter 0.25s;
}

.languages > li:hover {
    filter: brightness(0.85);
}

.languages > .active {
    color: var(--language-active);
}

.languages > .inactive {
    color: var(--language-inactive);
}

.separator {
    width: 22px;
    height: 0px;
    border: 1px solid var(--separator);
    transform: rotate(90deg);
}

@media (max-width: 1023px) {
    header {
        margin: 0 auto 50px;
    }
}

@media (max-width: 920px) {
    .links {
        display: none;
    }
}
