.heroImg {
    min-width: 400px;
    min-height: 400px;
    box-shadow: 0px 9px 25px 4px rgba(141, 141, 141, 0.25);
    /* box-shadow: inset 0 0 0 9px rgb(141, 141, 141, 0.25); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 70px 0 30px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.heroInfo > h1 {
    font-size: 84px;
    font-weight: 900;
    color: #f3f4f6;
    line-height: 72px;
    margin: 0;
}

.heroInfo > h3 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(104, 117, 245, 1);
    line-height: 36px;
    margin: 20px 0 20px;
}

.heroInfo > h4 {
    color: #f3f4f6;
    margin: 20px 0 30px;
    font-size: 18px;
}

/* 
.contact {
    padding: 10px 20px;
    border: 2px solid rgba(104, 117, 245, 1);
    border-radius: 8px;
    font-size: 18px;
    color: rgba(104, 117, 245, 1);
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    transition: all 0.3s;
}

.contact:hover {
    background-color: rgba(104, 117, 245, 1);
    cursor: pointer;
    color: #f3f4f6;
    border-color: none;
} */

.heroNav {
    display: flex;
}

.heroLinks {
    display: flex;
    align-items: center;
}

.heroLinks > a {
    padding-left: 25px;

    transition: filter 0.25s;
}

.heroLinks > a:hover {
    filter: brightness(0.85);
}

@media (max-width: 1440px) {
    .heroInfo > h1 {
        font-size: 72px;
    }

    .heroInfo > h3 {
        font-size: 36px;
    }

    .heroInfo > h4 {
        font-size: 22px;
    }

    .heroImg {
        min-width: 50vh;
        min-height: 50vh;
    }
}
@media (max-width: 1024px) {
    .hero {
        display: block;
    }

    .hero-img {
        margin: 0 auto 20px;
    }

    .heroInfo {
        text-align: center;
    }

    .heroInfo > h1 {
        font-size: 64px;
    }

    .heroInfo > h3 {
        font-size: 28px;
    }

    .heroImg {
        max-width: 40%;
    }

    .heroNav,
    .contact {
        display: block;
        margin: 0 auto 20px;
    }

    .heroLinks {
        justify-content: space-around;
        width: 35%;
        margin: 40px auto;
    }

    .heroLinks > a {
        padding: 0;
    }
}

@media (max-width: 920px) {
    .heroInfo > h1 {
        font-size: 52px;
    }

    .heroInfo > h3 {
        font-size: 22px;
    }

    .heroInfo > h4 {
        font-size: 14px;
    }

    .heroImg {
        min-width: 40vh;
        min-height: 40vh;
    }

    .heroLinks > a {
        padding: 0;
        width: 26px;
    }
}

@media (max-width: 680px) {
    .heroLinks {
        justify-content: space-between;
        width: 50%;
        margin: 40px auto;
    }

    .heroImg {
        min-width: 30vh;
        min-height: 30vh;
    }

    .heroInfo > h1 {
        font-size: 36px;
    }

    /* .hero-info > h4 {
        font-size: 8px;
    } */
}

@media (max-width: 380px) {
    .heroInfo > h1 {
        font-size: 30px;
    }
    .heroInfo > h3 {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .heroImg {
        min-width: 50vh;
        min-height: 50vh;
    }
}
