.hero {
    width: 83%;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero-img {
    min-width: 450px;
    height: 450px;
    box-shadow: 0px 9px 50px -4px rgba(141, 141, 141, 0.25);
    border-radius: 999px;
    background-image: url(../assets/hero.jpg);
    background-position: center;
    background-size: 450px;
    background-repeat: no-repeat;
    margin: 0 70px 0 30px;
}

.hero-info > h1 {
    font-size: 72px;
    font-weight: 900;
    color: #f3f4f6;
    line-height: 72px;
    margin: 0;
}

.hero-info > h3 {
    font-size: 36px;
    font-weight: 700;
    color: rgba(104, 117, 245, 1);
    line-height: 36px;
    margin: 20px 0;
}

.contact {
    padding: 10px 20px;
    border: 2px solid rgba(104, 117, 245, 1);
    border-radius: 8px;
    font-size: 18px;
    color: rgba(104, 117, 245, 1);
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    transition: all 0.5s;
}

.contact:hover {
    /* background-clip: padding-box; */
    background-color: rgba(104, 117, 245, 1);
    cursor: pointer;
    color: #f3f4f6;
    border-color:none;
}

.hero-links {
    display: flex;
}