@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --language-active: rgba(104, 117, 245, 1);
    --language-inactive: rgba(180, 198, 252, 1);
    --separator: rgba(55, 65, 81, 1);
    --link-active: rgba(229, 231, 235, 1);
    --link-inactive: rgba(156, 163, 175, 1);
}

body {
    background-color: rgba(31, 42, 55, 1);
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background: none;
}

.App {
    height: 100vh;
}
