@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --language-active: rgba(104, 117, 245, 1);
    --language-inactive: rgba(180, 198, 252, 1);
    --separator: rgba(55, 65, 81, 1);
    --link-active: rgba(229, 231, 235, 1);
    --link-inactive: rgba(156, 163, 175, 1);
}

@layer base {
    .language-active {
        @apply cursor-pointer text-language-active transition-all hover:brightness-90;
    }

    .language-inactive {
        @apply cursor-pointer text-language-inactive transition-all hover:brightness-90;
    }

    .separator {
        width: 20px;
        height: 0px;
        border: 1px solid var(--separator);
        transform: rotate(90deg);
    }

}
